/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .links {
    display: flex;
    gap: 20px;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
   */

   .card{
      width : 500px;
      background-color: #f7f7f7;
      border: 2px solid #999;
      margin: 0 auto;
      padding: 20px;
      margin-top: 100px;
      border-radius: 15px;
   }

   #myform{
    width: 500px;
    background: #eee;
    position: absolute;
    top: 80px;
    min-height: 400px;
    border: 2px solid #999;
    left: 20%;
    box-shadow: 4px 3px 8px 1px #969696;
    padding: 10px;
}