.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* .form-container {
    max-width: 1400px;
    max-height: 800px;
    margin-left:  300px;
    margin-right: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
  .form-container {
    max-width: 1400px;
    max-height: 800px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-container form label {
    display: block;
    margin: 10px 0;
  }
  
  .form-container form input[type="text"],
  .form-container form .ql-editor {
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-container form #category {
    margin-top: 10px;
    width: auto;
    float: right;
  }
  
  .form-container form button {
    align-self: flex-start;
  
  }
  .image-container{
    max-width: 2400px;
    max-height: 1400px;
    margin-left:  300px;
    margin-right: 300px;
    padding: 20px;
    margin:auto;
    
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input,
  select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    max-width: 500px;
  }
  button[type="submit"] {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .fixed-height-editor {
    height: 300px;
    margin-bottom: 10px;
  }
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .calendar-input {
    margin-bottom: 10px;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }

  .flex-container > .flex-item {
    flex: 5rem;
  }
  
  .flex-container > .raw-item {
    width: 5rem;
  }
  .react-quill {
    direction: ltr !important
  }
  .ql-editor {
    direction: ltr !important;
  }