@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

*{
  margin: 0;
  font-family: "Quicksand";
  /* color: #333; */
}
.navbar{
  padding: 0px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.navbar h1{
  color: #238b71;

}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  pad: 6px;
}

.fixed-height-editor {
  height: 500px;
}



#login{
  width : 500px;
  background-color: #7d78aa;
  border: 2px solid #999;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 15px;
}